doctype html
html
	head

		meta(http-equiv='content-type', content='text/html; charset=iso-8859-1')
		meta(content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;', name='viewport')
		meta(name='viewport', content='width=device-width')

		link(rel='stylesheet', href='', type='text/css')

		block title
		title Titulo Padrão quando não for definido

		block stylesheet
		block javascript_before

		body
		block content

		block footer
		footer
			hr
			h4
				p Copyright © 2015 Thiago Ribeiro Filadelfo <thiago.filadelfo@gmail.com>. All rights reserved
				p 
					a(href='https://github.com/trfiladelfo/nwk-boilerplate/blob/master/LICENSE') The MIT License (MIT) 

		//-jQuery
		script(src='//code.jquery.com/jquery-1.11.2.min.js', type='text/javascript')

		block javascript_after