# Created by https://www.gitignore.io

### Node Webkit App ###
build
cache
webapp

### Node ###
# Logs
logs
*.log

#Windows Files
Thumbs.db

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules