
/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */

/*================================
    GENERAL STYLES
==================================*/

@import url(http://fonts.googleapis.com/css?family=Raleway); /* FREE GOOGLE FONTS */

body {
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    font-size: 16px;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pad-bottom {
    padding-bottom: 70px;
}

h2 {
    padding-bottom: 20px;
}

.btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
/*================================
    HOME STYLES
==================================*/
#home {
    background: url(../img/home.jpg) no-repeat center center; /*Full Witdth background image*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
}

    #home .overlay {
        padding-top: 120px;
        background-color: rgba(49, 152, 186, 0.75); /*.75 opacity of the color so that background image is visible*/
       min-height:800px;
        color: #fff;
    }

    #home h4 {
        line-height: 25px;
        font-size: 15px;
    }

    #home h1 {
        line-height: 60px;
        font-size: 30px;
    }

    #home h3 {
        line-height: 30px;
        font-size: 20px;
    }

    #home mark {
        background-color: rgba(0, 0, 0, 0.31);
        padding: 10px 10px 10px 10px;
        margin-left: 20px;
        margin-right: 25px;
        color: #fff;
    }

    #home .set-a {
        margin-top: 60px;
        font-weight: 900;
    }

    #home .scroll-me {
        padding-top: 80px;
    }

        #home .scroll-me a, .scroll-me a:hover {
            color: #fff;
            font-size: 40px;
        }
/*================================
    FEATURES STYLES
==================================*/
#features {
    background-color: rgba(237, 237, 237, 1);
}

    #features i {
        font-size: 80px;
        padding: 30px;
        color: rgba(49, 152, 186,1);
    }

    #features h4 {
        padding-bottom: 5px;
        padding-top: 15px;
    }
/*================================
    DOWNLOAD STYLES
==================================*/
.downloads-stats {
    font-size: 70px;
    color: rgba(49, 152, 186,1);
    padding: 30px;
}

/*================================
    FOOTER SECTION STYLES
==================================*/

footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    background-color: rgba(49, 152, 186,1);
}

    footer a, footer a:hover {
        color: #fff;
        text-decoration: none;
    }
